@{
    ViewBag.Title = "Koduleht";
}

<div class="jumbotron">

    Avalik vaade
    Viimati muudetud : 03.01.2024 17:22, Kaie Urbmets

    Avalik vaade kuvab vaatamiseks ja otsimiseks koolitusi Koolituskalendris ja avalikustatud õppekavasid Koolitusporfellis.

    Kompetentsimudel on sisestatud õpetajatele. Vaadata saab, milliste infosüsteemis olevate õpppekavadega on kompetentsimudel seotud ja milliseid kompetentse need toetavad. Lisatud on uued kompetentsimudelid koos aastaarvuga: Haridusjuhi kompetentsimudel (2023) Üldhariduskooli õpetaja kompetentsimudel (2020) ja Lasteaiaõpetaja kompetentsimudel (2020).

    Versiooni märkmed on kõgile vaatamiseks, annavad infot, missuguseid uuendusi on tehtud  lähiajal  infosüsteemis Juhan.

    Koolituskalender

    Koolituskalendri lehel kuvatakse vaikimisi kõik avalikud koolitussündmuste tüübid, mille staatus on avalikustatud ja registreerimine avatud. Esimesel lehel kuvatakse 20 lähima toimumisajaga koolitust. Koolituskalendri tulemuste tabeli alla paremale on lisatud lehtede loendur ja vasakule mitu tulemust otsingu vasteks leiti. Näiteks: Kuvatud: 183 kirjet (1-20).

    Otsing märksõnaga (pilt)
    märksõnaga otsing

    Otsinguribal -> Otsi kasutades märksõna, otsitakse vastet õppekava nimetusest ja õppekava lühikirjeldusest. Otsingu märksõnale rakendatakse järgnevad vaikefiltrid, toimumise aeg = tänane kuupäev (või edasi), sündmuse tüüp = "kõik tüübid", otsing leiab "registreeritavas" staatuses toimumised.

    Täpsem otsing

    Kui sul on soov leida rohkem tulemusi detailsemalt, siis palun ava Täpsem otsing

    Siin on võimalik kasutada rohkem filtreid:

    Korraldaja asutus - valik näitab ainult neid asutusi, kellel on hetkel avalike koolitusi.

    Tabeli all koolituste staatuste järgi võimalik otsida Avalik - koolitus pole registreerimiseks avatud, Tühistatud, Tellimuskoolitus

    Lisaks on võimalik valida Otsi detailandmetest, siis otsitakse sisestatud märksõna täiendavalt ka õppekava sihtgrupist, õppekava sisukirjeldusest, eesmärgist, teemadest, õpiväljunditest, võtmesõnadest.

    NB! Palun vajuta alati peale filtrite määramist otsinguribal luubi märgile OTSI.

    Filtritega tehtud otsingut saab linkida.

    Koolituskalendri tulemuste kuvamine

    Koolitused kuvatakse tabelis ja nende andmeid eraldi üksikult on võimalik vaadata ka laiendatud ("+" nupuke) vaates.

    Laiendatud vaates ("+") nuppu kasutades, tõime esile koolituse metainfo, mis potentsiaalselt registreerujat võiks huvitada. Uuendatud komponent võimaldab Juhani koolituskalendrit palju edukamalt sirvida ka mobiilseadmes ning kohandub edukalt suurele hulgale ekraanilaiustele.

    Registreerimine koolitusele

    Koolituse andmete all on nupp „Registreeri“ või „Registreeri ootenimekirja“. Viimane ilmub juhul kui toimumisele registreerujate arv on maksimaalse osalejate arvuni jõudnud või ei ole veel täitunud minimaalsete osalejate arv. Vastavalt nupu kirjeldusele lisatakse ka vastav staatus registreerumisele – Registreeritud või Ootenimekirjas.

    Registreerimisvorm

    Vasakul pool vormil kuvatakse Sinu andmeid ja paremal Tööandja infot. Sisse loginud kasutajal on eesnimi, perekonnanimi, riik, isikukood/ sünniaeg-sugu eeltäidetud ning puudub muutmise võimalus. E-post, amet ja tööandja on samuti eeltäidetud kasutaja andmetega ja neid saab muuta. Lisaks on võimalik valida asutus EHIS´st.

    Paremal pool on asutus ja amet, need on vormil eraldi seisvad ning omavaheline seos puudub.

    Asutus ja amet ei ole alati täitmisekskohustuslikud ja tihti need pole registreerimisvormile küsitud.

    Avalikus vaates koolitusele registreerimisel avaneb registreerimise vorm tühjade väljadega. Vormi üleval ääres SINU ANDMED peal on roheline nupp Eeltäida vorm.

    Eeltäida vorm nupule vajutades avaneb modaalaken Tara teenustega, saad end sisse logida/ registreeruda süsteemi. Peale sisselogimist/ registreerumist suunatakse kasutaja tagasi registreerimisvormile juba eeltäidetud vormile.
    eeltäida vorm

    Kui Sul ei ole varasemalt infosüsteemis kontot olemas, saad ennast teha registreeritud kasutajaks, kasutad nuppu Logi sisse -> Registreeri.

    Kui avalik kasutaja sisestab oma isikukoodi, tehakse taustal päring, kas antud isikukoodiga kasutaja on meil süsteemis olemas. Kui on, siis kuvatakse „Eeltäida vorm“ nupu ülesse hoiatav teade, et antud isikukoodiga kasutaja on baasis olemas ning soovitab end sisse logida kasutades „Eeltäida vorm“ nupu abil.

    Koolitusele registreerimisel salvestatakse uus registreerimine, saadetakse välja automaatsed emailid (osalejale, projektijuhile) ning suunatakse kasutaja registreerimise infovaatele.

    Registreeri nupu all on veel nupp „Tagasi toimumise/ kursuse/ juurde“, mis viib toimumise infovaatesse.

    Koolitusporfell

    Koolitusporfellis kuvatakse koolitusasutuste poolt avalikustatud täiendusõppe õppekavade loetelu.

    Nimekirjas kuvatakse õppekavad, mille staatus on „Avalik“ ja tüüp on „koolitus".

    Lihtotsingu lahtri all olevalt lingilt „Täpsem otsing“ on võimalik avada detailsem otsing, kus saab õppekava otsida filtriga korraldava asutuse või õppeprogrammi järgi.

    Õppekava nimetusel klikkides avatakse kasutajale õppekava kirjeldus.

    Õppekava kirjelduse allääres saab klikkida "Otsi selle õpisündmuse toimumisi kalendrist". Juhul kui toimumine kalendrist ei ole leitav, on kasutajal võimalus otsingu all avanenud vormil avaldada soovi antud õppekava toimumisele. Täidab sooviavalduse vormi.

</div>